* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: transparent;
    
    
}
.main {
    width: 100%;
    background:linear-gradient(to top, rgba(0,0,0,0.5)75%,rgba(0,0,0,0.5)75%), url(images/pexels-klaus-167676.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.main-h1 {
    text-align: center;
    color: white;
    position: relative;
    padding-top: 200px;
    font-family: 'Acme', sans-serif;
}


.main-paragraph {
    text-align: center;
    color: white;
    position: relative;
    padding-top: 20px;
    font-family: sans-serif;
}

.navbar-brand {
    color: white;
    font-family: 'Michroma', sans-serif;
}
 
.nav-link {
    
    color: white;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    padding-right: 10rem;
    
}

.navbar-toggler-icon {
    color: white;
}


.overlay {
    max-width: 780px;
    background:rgb(2, 7, 78);
    padding: 40px;
    margin: 0 auto;
    margin-top: -100px;
    box-shadow: 0px 1px 5px rgba(0,0,0,.7);
  }


  .overlay h1 p {
      color: white;
      
  }  


.about-header {
    padding-top: 3px;

}

.about-paragraph {
    margin-top: 5px;
}


  




.header-paragraph {

    color: white;

}

.mission-header {
    color: white;
    text-align: center;

}

.mission-paragraph {
    color: white;
    text-align: center;
}




.container {
     border-top-color: rgb(10, 4, 65);
     text-align: center;
     padding-top: 4rem;
     border-width: thick;
     border-style: solid;
     
     margin-top: 3rem;
}

.vision-img {
    height: 10rem;
}



.footer {
    background:linear-gradient(rgba(0,0,0,0.5)75%,rgba(0,0,0,0.5)75%), url(images/pexels-klaus-167676.jpg);
}


.footer-text-h5, p {
    color: black;
}

